<mat-card class="card" (click)="onClick()">
  <mat-card-header>
    <mat-card-title> ID: {{ testcase.id }}</mat-card-title>
    <mat-card-subtitle> Some TestCase</mat-card-subtitle>
  </mat-card-header>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
</mat-card>
