.card {
  max-width: 400px;
  margin: 10px;
  box-shadow: inset;
}

.card:active {
  background-color: gray;
}
.card:hover {
  background-color: lightgray;
}

.card::after {
  background-color: white;
}
